.loungeFinder {
  padding: 18% 0;
  &__heading {
    color: white;
    font-weight: 700;
    font-size: 44px;
  }
  &__subHeading {
    color: white;
    font-size: 28px;
  }
  background: black;
  &__area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
  }
  &__tryBtn {
    color: #e4c2a2;
    background: linear-gradient(
      200.74deg,
      rgba(214, 211, 194, 0.2) 0%,
      rgba(92, 92, 92, 0.14) 100%
    );
    margin-top: 3%;
  }

  &__img {
    width: 430px;
    padding-top: 12%;
  }
}
.text {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.location {
  color: #ffffff99;
  font-weight: 500;
  text-align: left;
}
.loungeImg {
  position: absolute;
  top: 46%;
  left: 12%;
}
.light {
  height: 450px;
  margin-top: -40%;
}
@media screen and (max-width: 1440px) {
  .loungeImg {
    position: absolute;
    top: 46%;
    left: 3%;
  }
}
